<odoo>
    <menuitem id="menu_chatter_voice_root"
              name="Voice Notes"
              sequence="10"/>

    <record id="action_chatter_voice_recorder" model="ir.actions.client">
        <field name="name">Audio para informe medico</field>
        <field name="tag">chatter_voice_note.audio_to_text</field>
    </record>

    <menuitem id="menu_chatter_voice_recorder"
              name="Audio to Texto"
              parent="menu_chatter_voice_root"
              action="action_chatter_voice_recorder"/>
</odoo>
